General notes:

5min limit is strict! 1pt deduction (out of 25)--practice presentation! everyone should present

audience is WTWY group - like a consulting data, present results, justify conclusion with data

team of 3, present on Friday
    pitfalls: optimize time, split up the work (don't hover over 1 laptop or all three do same step on diff laptops)
        

------

2 challenges per week at thisismetis/sea19_ds10 
    challenge 1 guides you through this project
    
pairings, Torin's office hours (on whiteboard)

Investigations (starts on week 3) 
    - sign up for topic, 5-10min presentation to the class after lunch
    algorithm, company, ethics, applications (learn sth new, choose sth your not familiar with);
    slides, not graded, informal; check with instructors about topic (so not repeats)

project1: slack channel https://app.slack.com/client/TMG70HX4N/GNQPBHWF8

In [1]:
#field descriptions: http://web.mta.info/developers/resources/nyct/turnstile/ts_Field_Description.txt

C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS


C/A      = Control Area (A002)

UNIT     = Remote Unit for a station (R051)

SCP      = Subunit Channel Position represents an specific address for a device (02-00-00)

STATION  = Represents the station name the device is located at

LINENAME = Represents all train lines that can be boarded at this station
           Normally lines are represented by one character.  LINENAME 456NQR repersents train server for 4, 5, 6, N, Q, and R trains.

DIVISION = Represents the Line originally the station belonged to BMT, IRT, or IND   

DATE     = Represents the date (MM-DD-YY)

TIME     = Represents the time (hh:mm:ss) for a scheduled audit event

DESc     = Represent the "REGULAR" scheduled audit event (Normally occurs every 4 hours)
           1. Audits may occur more that 4 hours due to planning, or troubleshooting activities. 
           2. Additionally, there may be a "RECOVR AUD" entry: This refers to a missed audit that was recovered. 
ENTRIES  = The comulative entry register value for a device

EXITS    = The cumulative exit register value for a device

In [4]:
import pandas as pd

In [16]:
mar23_data = pd.read_csv('turnstile_190323.csv') #date on file name is date after collection - 0316 ends on 0315

In [19]:
mar23_data.tail()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
202717,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,03/22/2019,05:00:00,REGULAR,5554,370
202718,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,03/22/2019,09:00:00,REGULAR,5554,370
202719,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,03/22/2019,13:00:00,REGULAR,5554,370
202720,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,03/22/2019,17:00:00,REGULAR,5554,370
202721,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,03/22/2019,21:00:00,REGULAR,5554,370

mar23_data.sort_values(by='ENTRIES',ascending=True)

In [ ]:
#rid of rows for turnstiles with 0 entries/exits -- filter so min flow is 500 or something

In [ ]:
#subway station location data - geographic plot
#overlay data?
#write function to calculate distance between station and university?
    #or: in a certain radius, how many universities/companies -- find python function for it?

* Find location of tech companies (check: https://data.cityofnewyork.us/dataset/Mapped-In-NY-Companies/f4yq-wry5)
    *tech companies in midtown? find station location first, then see which are near companies
* Clean subway station data - geographic
* clean turnstiles data (March 2019, start from March 10)

In [1]:
import pandas as pd
import numpy as np

In [2]:
stn = pd.read_csv('stations.csv')

In [3]:
stn.head()

,URL,OBJECTID,NAME,the_geom,LINE,NOTES
0,http://web.mta.info/nyct/service/,1,Astor Pl,POINT (-73.99106999861966 40.73005400028978),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s..."
1,http://web.mta.info/nyct/service/,2,Canal St,POINT (-74.00019299927328 40.71880300107709),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s..."
2,http://web.mta.info/nyct/service/,3,50th St,POINT (-73.98384899986625 40.76172799961419),1-2,"1-all times, 2-nights"
3,http://web.mta.info/nyct/service/,4,Bergen St,POINT (-73.97499915116808 40.68086213682956),2-3-4,"4-nights, 3-all other times, 2-all times"
4,http://web.mta.info/nyct/service/,5,Pennsylvania Ave,POINT (-73.89488591154061 40.66471445143568),3-4,"4-nights, 3-all other times"

In [4]:
stn.tail(10)

,URL,OBJECTID,NAME,the_geom,LINE,NOTES
463,http://web.mta.info/nyct/service/,464,Franklin St,POINT (-74.00688600277107 40.719318001302135),1-2,"1-all times, 2-nights"
464,http://web.mta.info/nyct/service/,465,80th St,POINT (-73.85899200206335 40.67937100115432),A-S,"A-all times, S Euclid Av to Ozone Park-Leffert..."
465,http://web.mta.info/nyct/service/,466,5th Ave - Bryant Pk,POINT (-73.98196299856706 40.75382100064824),7-7 Express,"7-all times, 7 Express-rush hours AM westbound..."
466,http://web.mta.info/nyct/service/,467,Spring St,POINT (-73.99714100006673 40.72230099999366),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s..."
467,http://web.mta.info/nyct/service/,468,125th St,POINT (-73.93759400055725 40.804138000587244),4-5-6-6 Express,"4,6-all times, 5-all times exc nights, 6 Expre..."
468,http://web.mta.info/nyct/service/,469,Coney Island - Stillwell Av,POINT (-73.9812359981396 40.57728100006751),D-F-N-Q,"D,F,N,Q-all times"
469,http://web.mta.info/nyct/service/,470,34th St - Hudson Yards,POINT (-74.00219709442206 40.75544635961596),7-7 Express,"7-all times, 7 Express-rush hours AM westbound..."
470,http://web.mta.info/nyct/service/,641,72nd St,POINT (-73.95836178682246 40.76880251014895),Q,Q-all times
471,http://web.mta.info/nyct/service/,642,86th St,POINT (-73.95177090964917 40.77786104333163),Q,Q-all times
472,http://web.mta.info/nyct/service/,643,96th St,POINT (-73.9470660219183 40.784236650177654),Q,Q-all times